<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー作成</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/DataTables-1.10.16/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/DataTables-1.10.16/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
    <style>
    </style>
</head>
</html><!DOCTYPE HTML>
<body>
<div class="container">
    <div class="row">
        <p><h1 id="title">ユーザー作成</h1></p>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <div class="well well-sm">
                <form id="create_form" method="post" th:action="@{'/account'}">
                    <fieldset id="login_field">
                        <div class="form-group">
                            <label>メールアドレス</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="メールアドレスを入力してください" autofocus="" required="" />
                        </div>
                        <div class="form-group">
                            <label>パスワード</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力してください" required="" />
                        </div>
                        <div class="form-group">
                            <label>誕生日</label>
                            <input type="text" id="birthday" name="birthday" placeholder="yyyy/MM/dd" />
                        </div>
                        <div class="form-group">
                            <input id="create_button" type="submit" value="アカウントを作成" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>
</body>
</html>
